<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pattern</key>
		<array>
			<string>robot</string>
			<string>standard</string>
			<string>robot</string>
			<string>meaty</string>
			<string>robot</string>
			<string>standard</string>
			<string>robot</string>
			<string>meaty</string>
		</array>
		<key>size</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<string>1</string>
		</dict>
	</dict>
</array>
</plist>
