<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>entry direction</key>
		<integer>1</integer>
		<key>entry coord</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>size</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
	</dict>
</array>
</plist>
