
SequencerGame/.DS_Store

SequencerGame/SequencerGame.xcodeproj/project.xcworkspace/xcuserdata/Scott.xcuserdatad/UserInterfaceState.xcuserstate

SequencerGame/SequencerGame.xcodeproj/xcuserdata/Scott.xcuserdatad/xcschemes/SequencerGame.xcscheme

SequencerGame/SequencerGame.xcodeproj/xcuserdata/Scott.xcuserdatad/xcschemes/xcschememanagement.plist
